body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.image {
    height: 90px;
    margin-bottom: 40rem;
    margin-left: 32%;
    margin-top: 10%;
    
}

.box  {
    align-items: center;
    height: 530px;
    width: 280px;
    background-color: rgb(44, 45, 45);
    border-radius: 10px;
    margin-left: 15%;
    margin-top: 42%;


}

.button {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: #333; 
    color: white; 
    border: none; 
    border-radius: 7px; 
    font-size: 16px; 
    text-align: center; 
    display: inline-block; 
    cursor: pointer; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease;
    top: -105%;
    left: 10%;
    width: 220px;
    height: 40px;
    
}

  
  .button:hover {
    background-color: #58b718; 
  }

  .name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    align-items: center;
    margin-top: -245%;
    margin-left: 25%;
    display: flex;
  }

  .city {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #75c232;
    margin-left: 33%;

  }
  

